# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IDE related
.vscode/

# Build directories
build/
dist/

# github.com/romshark/clog configuration
cmd/ggproxy/clog.toml

# ggproxy config for debugging purposes
cmd/ggproxy/config

# result of `go build` in cmd/ggproxy
cmd/ggproxy/ggproxy

# OS-specific files
.DS_Store
